<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <main>
        <div>
        <h1>My Projects</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Project Alpha</td>
                </tr>
                    <td>Project Beta</td>
                </tr>
            </tbody>
        </table>
        </div>
    </main>
{% endblock %}
</body>
</html>
