{% extends 'base.html'}

{% block title %}
Login! - My Projects
{% endblock title %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </div>
            </form>
    </main>
</body>
</html>
